body{

  margin-left: 0;
  margin-top:0;
}
.header{
  background-color: black;
  width: 1450px;
  height: 40px;

  overflow: hidden;
  margin: 0;
}
.othericon ul{
  position: absolute;
  top: 50px;
}

.othericons li{

    list-style: none;
    float: left;
    padding-right:  10px;
    padding-top: 0.2px;






}
.othericons li span{

  color: white;
}
.othericons .phonenumber{
  padding-right: 20px;
}
.othericons .emailid{
  padding-right: 800px;
}
.righticons  li{
  float: left;
  padding-right: 20px;
  list-style-type: none;
  cursor: pointer;
}
.righticons li:hover{
    transform: scale(1.5);
}
.menu{
  background-color:#FAF0D7;
  width: 1450px;
  height: 80px;
  overflow: hidden;
}
.menu li span{
  position: absolute;
  top: 60px;
  padding-left: 10px;
  font-family: 'Abril Fatface', cursive;
  font-size: 30px;

}
.menu li{
  list-style: none;
  float: left;
}
.menu li:first-child{
  padding-left: 20px;
  padding-right: 350px;
}

.menu li a{
  text-decoration: none;
  padding-right: 20px;
  position: relative;
  top: 20px;
  font-family: 'Abril Fatface', cursive;
  font-family: 'Akshar', sans-serif;
  font-family: 'Hind', sans-serif;
}
.menu li a:link{
  color :black;
}
.menu li a:hover{
  color:#F32424;
}
.menu li a:active{
  color:#F32424;
}

.matter p{

  position: absolute;
  top: 750px;
  left: 650px;
  width: 450px;
  font-family: 'Odibee Sans', cursive;
  font-size:50px;

}
.matter{
  height:1280px;
  width: 1450px;
  background-image: url("paintnew.jpg ");
  background-repeat: no-repeat;
  text-align: center;
  cursor: pointer;
  opacity: 1;

  transition: opacity 5s;
}
.matter:hover{
  cursor: pointer;
  animation: myanimation 5s;
}
@keyframes myanimation {
  0%{opacity: 0;}
  25%{opacity: 0.25;}
  50%{opacity:0.50;}
  75%{opacity:0.75;}
  100%{opacity:1;}
}
.testimonials span{
  position: absolute;
  top: 1225px;
  left:500px;
  font-family: 'Merriweather', serif;
  font-size: 40px;
  color: #a2d2ff;
  text-shadow: 5px 5px 5px #a2d2ff;
}
.test1 img{
  float: left;
}
.test1{
  width: 300px;
  height: 100px;
  box-sizing: border-box;
  border:2px solid  #a2d2ff;
  border-radius: 3px;
  box-shadow:15px 15px 10px 5px #a2d2ff;
  position: absolute;
  top: 1300px;
  margin-left: 15px;
}
.test2 img{
  float: left;
}
.test2{
  width: 300px;
  height: 100px;
  box-sizing: border-box;
  border:2px solid  #a2d2ff;
  border-radius: 3px;
  box-shadow:15px 15px 10px 5px #a2d2ff;
  position: absolute;
  top: 1300px;
  margin-left: 550px;
}
.test3 img{
  float: left;
}
.test3{
  width: 300px;
  height: 100px;
  box-sizing: border-box;
  border:2px solid  #a2d2ff;
  border-radius: 3px;
  box-shadow:15px 15px 10px 5px #a2d2ff;
  position: absolute;
  top: 1300px;
  margin-left: 1000px;
}
